<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>xx竞赛报名管理员中心</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/holder.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--  header部分  start-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">竞赛报名系统管理员</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;后台首页</a></li>
                <li><a href="user.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a></li>
                <li><a href="project.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;项目管理</a></li>
                <li><a href="news.html"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;新闻管理</a></li>
                <li><a href="notice.html"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;公告管理</a></li>
                <li><a href="info.html"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;账号管理</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        管理员名称
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="../index/index.html"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a></li>
                        <li><a href="../index/competition.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;竞赛大全</a></li>
                        <li><a href="info.html"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;个人设置</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
            </ul>
        </div>
        <!--导航-->

    </div>
</nav>
<!--  header部分  end-->
<!--  mian部分  start-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">管理员信息</div>
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left media-middle" href="#">
                            <img data-src="holder.js/200x200" class="img-circle" src="" alt="">
                        </a>
                        <div class="media-body media-middle">
                            <h4 class="media-heading">用户名，欢迎回家[<a href="">修改</a>]</h4>
                            <p>
                                <span>注册日期：xx年xx月xx日 xx：xx 星期x</span>
                            </p>
                            <p>
                                <span>登录次数：0x</span>
                            </p>
                            <p>
                                <span>手机号码：xxxxxxxxx</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">网站数据统计</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>统计项目</th>
                            <th>今日</th>
                            <th>昨日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">注册用户</th>
                            <td>200</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <th scope="row">登录用户</th>
                            <td>4100</td>
                            <td>5112</td>
                        </tr>
                        <tr>
                            <th scope="row">发布竞赛项目</th>
                            <td>1540</td>
                            <td>4511</td>
                        </tr>
                        <tr>
                            <th scope="row">结束竞赛项目</th>
                            <td>150</td>
                            <td>110</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>最新发布</span>
                    <span class="pull-right"><a href="">更多 >></a></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        项目名称
                        <small class="pull-right">发布时间</small>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;项目名称
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;项目名称
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;项目名称
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;项目名称
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;项目名称
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>新用户</span>
                    <span class="pull-right"><a href="">更多 >></a></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        用户学号
                        <small class="pull-right">注册时间</small>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;用户1
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;用户1
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;用户1
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;用户1
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="index.html">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;&nbsp;用户1
                            <small class="pull-right">2015/08/08</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--  mian部分  end-->
<!--  footer部分  start-->
<footer  class="container-fluid footer bg-danger">
    <div class="container text-center">
        <h4>
            <a href="../index/index.html">游客</a>
            <a href="../user/index.html">用户</a>
            <a href="../admin/index.html">管理员</a>
        </h4>
        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受 <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a> 开源协议保护，文档受 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> 开源协议保护。</p>

    </div>
</footer>
<!--  footer部分  end-->
<script src="../../static/js/jquery/jquery.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/js/common.js"></script>
</body>
</html>