<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的收藏与关注</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <script src="../../static/js/holder.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--  header部分：top nav  start-->
<div id="header-wrpper">
    <div class="container-nav">   <!--logo部分-->
        <div class="container">
            <div class="logo">
                <h1>
                    <!--<a href="#" title="xx竞赛报名网">xx竞赛报名网</a>-->
                    <img data-src="holder.js/200x70" alt="">
                </h1>
            </div>
        </div>
    </div>
    <div class="nav-title">    <!--身份大分类-->
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ><a href="info.html">账号设置</a></li>
                <li role="presentation" ><a href="publisher.html">我是发布者</a></li>
                <li role="presentation" class="active"><a href="participants.html">我是参赛者</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-other">   <!--跳转其他页部分-->
        <div class="container">
            <div class="">
                <ul class="list-inline">
                    <li>
                        <ul class="list-inline">
                            <li class=""><a href="../index/index.html">竞赛网首页</a>|</li>
                            <li class=""><a href="../index/competition.html">竞赛大全</a>|</li>
                            <li class=""><a href="../index/about.html">关于我们</a>|</li>
                            <li><a href="">默认标记为：我是参赛者</a></li>
                        </ul>
                    </li>
                    <li class="pull-right">
                        <ul class="list-inline">
                            <li>您好，xxxxx</li>
                            <li class="">日期：2016年12月29日 星期四</li>
                            <li class=""><a href="">注销</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>


                </ul>
            </div>
        </div>
    </div>
</div>
<!--  header部分：top nav  end-->
<!--  mian部分  start-->
<div id="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
            </div>
            <div class="col-md-9 col-sm-9 ">
                <div class="main-header">
                    <ol class="breadcrumb">
                        <li><a href="#">我是威客</a></li>
                        <li><a href="#">Library</a></li>
                    </ol>
                </div>
                <div class="main-body">
                    <!-- Nav tabs 分为项目列表和历史记录列表-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">我的收藏</a></li>
                        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">我的关注</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="classify-search clearfix">
                                <ul class="list-inline pull-left">
                                    <li>状态 ：</li>
                                    <li><a href="" class="btn btn-primary">全部</a></li>
                                    <li><a href="" class="btn btn-primary">进行中</a></li>
                                    <li><a href="" class="btn btn-primary">已结束</a></li>
                                </ul>
                                <div class="search col-md-4 pull-right">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                         <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="main-pros">
                                <div class="panel panel-danger">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left">收藏的项目</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            项目说明：0xx
                                        </p>
                                    </div>
                                    <!-- Table -->
                                    <table class="table  table-hover  ">
                                        <tr>
                                            <th>项目编号</th>
                                            <th>收藏项目名称</th>
                                            <th>类型</th>
                                            <th>发布人</th>
                                            <th>报名截止时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        <tr>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>
                                                <a href="" class="btn btn-primary">查看详情</a>
                                                <a href="" class="btn btn-danger">取消收藏</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>
                                                <a href="" class="btn btn-primary">查看详情</a>
                                                <a href="" class="btn btn-danger">取消收藏</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>0个</td>
                                            <td>
                                                <a href="" class="btn btn-primary">查看详情</a>
                                                <a href="" class="btn btn-danger">取消收藏</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="pages text-center">     <!--分页-->
                                        <ul class="pagination btn-lg">
                                            <li class="disabled"><a href="#">&laquo; 上一页</a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="">6</a></li>
                                            <li><a href="">7</a></li>
                                            <li><a href="">8</a></li>
                                            <li><a href="">9</a></li>
                                            <li><a href="">10</a></li>
                                            <li><a href="#">下一页 &raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="search">     <!--选择日期-->
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                            <div class="main-all">
                                <div class="panel panel-danger">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left">我的关注</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            xxxxxxx
                                        </p>
                                    </div>
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <img src="" class="img-circle" data-src="holder.js/200x200" alt="">
                                            <h4>发布者名称</h4>
                                            <p>
                                                <span>关注 xxx</span>
                                                <span>粉丝 xxx</span>
                                                <span>发布项目 xxx</span>
                                            </p>
                                            <p>简介：他很懒，什么都没有留下....</p>
                                            <p>
                                                <a href="" class="btn btn-primary">查看</a>
                                                <a href="" class="btn btn-danger">取消关注</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pages text-center">     <!--分页-->
                                        <ul class="pagination btn-lg">
                                            <li class="disabled"><a href="#">&laquo; 上一页</a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="">6</a></li>
                                            <li><a href="">7</a></li>
                                            <li><a href="">8</a></li>
                                            <li><a href="">9</a></li>
                                            <li><a href="">10</a></li>
                                            <li><a href="#">下一页 &raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  mian部分  end-->
<!--  footer部分  start-->
<footer  class="container-fluid footer bg-danger">
    <div class="container text-center">
        <h4>
            <a href="../index/index.html">游客</a>
            <a href="../user/index.html">用户</a>
            <a href="../admin/index.html">管理员</a>
        </h4>
        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受 <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a> 开源协议保护，文档受 <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> 开源协议保护。</p>

    </div>
</footer>
<!--  footer部分  end-->
<script src="../../static/js/jquery/jquery.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/js/common.js"></script>
</body>
</html>